@model WebApplication8.Models.user

@{
    ViewBag.Title = "Logout";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        ::-webkit-scrollbar {
            width: 15px;
        }

        ::-webkit-scrollbar-track {
            background-color: white;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #0075ff;
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #0075ff;
            }

        html {
            scroll-behavior: smooth;
        }

        

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #F5F5F5;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .container {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        .header {
            position: relative;
            background-color: white;
            -webkit-box-shadow: 0 0 10px #ddd;
            -moz-box-shadow: 0 0 10px #ddd;
            box-shadow: 0 0 10px #ddd;
        }

            .header .container {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
            }

            .header .logo {
                color: #2196f3;
                font-size: 26px;
                font-weight: bold;
                height: 72px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
            }

            .header .main-nav {
                display: flex;
            }



                .header .main-nav > li > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 72px;
                    position: relative;
                    color: black;
                    padding: 0 15px;
                    transition: 0.3s;
                    overflow: hidden;
                }



                    .header .main-nav > li > a::before {
                        content: "";
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        top: 0;
                        left: -100%;
                        background-color: #2196f3;
                        transition: 0.3s;
                    }

                    .header .main-nav > li > a:hover {
                        color: #2196f3;
                        background-color: #fafafa;
                    }

                        .header .main-nav > li > a:hover::before {
                            left: 0;
                        }

                .header .main-nav > li > .active {
                    color: #2196f3;
                    background-color: #fafafa;
                }

                    .header .main-nav > li > .active::before {
                        left: 0;
                    }
        .form-horizontal {
            padding: 10px 30px;
            width:570px;
        }
            .form-horizontal h3 {
                font-size: 30px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 10px;
                letter-spacing: 2px;
                color:#ff0032;
            }
        .form-actions{
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            gap:10px;
        }
            .form-actions a {
                border: none;
                outline: none;
                height: 30px;
                background-color: #0075ff;
                color: #fff;
                font-size: 14px;
                border-radius: 10px;
                font-family: "indie flower", cursive;
                font-weight: bold;
                margin-top: 20px;
                padding: 10px;
                margin: 5px;
                width:auto;
                display:flex;
                justify-content:center;
                align-items:center;
            }

            .form-actions no-color a {
                opacity: 0.7;
                cursor: pointer;
            }
        
    </style>
</head>


<div class="header">
    <div class="container">

        <a href="#" class="logo">Pharmacy</a>
        <ul class="main-nav">

            
            <li>@Html.ActionLink("Logout", "Logout", null, new { @class = "active" })</li>


        </ul>

    </div>
</div>

<div class="form-horizontal">

    <h3>Are you sure you want to log out ?</h3>

    @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Logout", "Index","user",new {area="" },null)
        @Html.ActionLink("Back to Page", "Index")
    </div>
     }
</div>
